<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam doloribus rem laudantium error debitis nobis dolor temporibus fugiat fuga id vero eum pariatur omnis explicabo, iusto quibusdam voluptatum! Temporibus est voluptatum ratione placeat, enim sequi officia quibusdam cupiditate fuga explicabo.</p>
  </div>
</div>